
a,a:visited{
  text-decoration: none;
  color: black;
}
a:hover{
  color:red;
  font-weight: bold;
  text-transform: uppercase;;
}


.resultados{
 display: none;
}
input{
  width: 130px;
}
#textoActividad6{
  width: 400px;
}

span{
  color: green;
  font-weight: bold;
  
}
