/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-oct-2017, 10:36:23
    Author     : emont
*/

$grosor : 1;
.clase1 {
    @if $grosor == 1 {
        border: 1px solid black;
    }
    font-size:20px;
display:inline-block;
}

@mixin border-radius($radius){
    border-radius: $radius;
    -webkit-border-radius: $radius;    
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
}

.border{
    @include border-radius(5px);
}

@mixin fuente($color, $tamano){
    font-size: $tamano;
    color: $color;
}

.rojochico{
    @include fuente(red,10px);
}

