<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Padre</title>
</head>

<body>
  <h2>Original</h2>
  <button onclick="act();">Abrir hija</button>

  <script type="text/javascript">
    function act() {
      var a = window.open('hija.html', 'Emiliano Montesdeoca', 'titlebar=1,width=250,height=150');
      a.title = "Emiliano Montesdeoca";
      var timer = setInterval(function() {
        if (a.closed) {
          clearInterval(timer);
          window.location = "https://www.elpais.com";
        }
      }, 1000);
    }
  </script>
</body>

</html>
