<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Padre</title>
</head>

<body>
    <h2>Original</h2>
    <button onclick="act();">Abrir hija</button>

    <script type="text/javascript">
        function act() {
            window.open('hija.html', 'Emiliano Montesdeoca', 'width=250,height=150');
        }
    </script>
</body>

</html>