<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>layout</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="contenedor">
    <nav id="left">
      <ul>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
      </ul>
    </nav>
    <div id="right">
      <section class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales quam mi, ac molestie ante consectetur a. Nam posuere ligula turpis, in pellentesque dolor vulputate vitae. Suspendisse sagittis id erat eget pharetra. Nam neque turpis, bibendum ac
        nulla condimentum, dignissim tempus tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales quam mi, ac molestie ante consectetur a. Nam posuere ligula turpis, in pellentesque dolor vulputate vitae. Suspendisse sagittis
        id erat eget pharetra. Nam neque turpis, bibendum ac nulla condimentum, dignissim tempus tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales quam mi, ac molestie ante consectetur a. Nam posuere ligula turpis, in pellentesque
        dolor vulputate vitae. Suspendisse sagittis id erat eget pharetra. Nam neque turpis, bibendum ac nulla condimentum, dignissim tempus tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales quam mi, ac molestie ante consectetur
        a. Nam posuere ligula turpis, in pellentesque dolor vulputate vitae. Suspendisse sagittis id erat eget pharetra. Nam neque turpis, bibendum ac nulla condimentum, dignissim tempus tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenean sodales quam mi, ac molestie ante consectetur a. Nam posuere ligula turpis, in pellentesque dolor vulputate vitae. Suspendisse sagittis id erat eget pharetra. Nam neque turpis, bibendum ac nulla condimentum, dignissim tempus tortor. Nullam
        at tellus urna. Suspendisse blandit odio eu dolor blandit eleifend. Proin auctor luctus est, cursus ornare dolor maximus non. Proin mollis tempor sapien eu tempor. Praesent orci leo, sodales quis lobortis ut, imperdiet et sem. Sed convallis Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales quam mi, ac molestie ante consectetur a. Nam posuere ligula turpis, in pellentesque dolor vulputate vitae. Suspendisse sagittis id erat eget pharetra. Nam neque turpis, bibendum
        ac nulla condimentum, dignissim tempus tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales quam mi, ac molestie ante consectetur a. Nam posuere ligula turpis, in pellentesque dolor vulputate vitae. Suspendisse sagittis
        id erat eget pharetra. Nam neque turpis, bibendum ac nulla condimentum, dignissim tempus tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales quam mi, ac molestie ante consectetur a. Nam posuere ligula turpis, in pellentesque
        dolor vulputate vitae. Suspendisse sagittis id erat eget pharetra. Nam neque turpis, bibendum ac</section>


        <section class="item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales quam mi, ac molestie ante consectetur a. Nam posuere ligula turpis, in pellentesque dolor vulputate vitae. Suspendisse sagittis id erat eget pharetra. Nam neque turpis, bibendum ac
          nulla condimentum, dignissim tempus tortor. Nullam at tellus urna. Suspendisse blandit odio eu dolor blandit eleifend. Proin auctor luctus est, cursus ornare dolor maximus non. Proin mollis tempor sapien eu tempor. Praesent orci leo, sodales
          quis lobortis ut, imperdiet et sem. Sed convallis vulputate aliquet. Praesent congue dolor odio, et rutrum felis feugiat ut. nulla condimentum, dignissim tempus tortor.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales quam mi, ac molestie ante consectetur a. Nam posuere ligula turpis, in pellentesque dolor vulputate vitae. Suspendisse sagittis id erat eget pharetra. Nam neque turpis, bibendum ac
          nulla condimentum, dignissim tempus tortor.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales quam mi, ac molestie ante consectetur a. Nam posuere ligula turpis, in pellentesque dolor vulputate vitae. Suspendisse sagittis id erat eget pharetra. Nam neque turpis, bibendum ac
          nulla condimentum, dignissim tempus tortor. vulputate aliquet. Praesent congue dolor odio, et rutrum felis feugiat ut.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales quam mi, ac molestie ante consectetur a. Nam posuere ligula turpis, in pellentesque dolor vulputate vitae. Suspendisse sagittis id erat eget pharetra. Nam neque turpis, bibendum ac
          nulla condimentum, dignissim tempus tortor.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales quam mi, ac molestie ante consectetur a. Nam posuere ligula turpis, in pellentesque dolor vulputate vitae. Suspendisse sagittis id erat eget pharetra. Nam neque turpis, bibendum ac
          nulla condimentum, dignissim tempus tortor.</section>

    </div>
  </div>

  <footer class="pie"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales </footer>
</body>

</html>
