<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>layout</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

  <div id="left">
    <ul>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
    </ul>
  </div>
  <div id="right">
    <section class="item">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales quam mi, ac molestie ante consectetur a. Nam posuere ligula turpis, in pellentesque dolor vulputate vitae. Suspendisse sagittis id erat eget pharetra. Nam neque turpis, bibendum ac
      nulla condimentum, dignissim tempus tortor. Nullam at tellus urna. Suspendisse blandit odio eu dolor blandit eleifend. Proin auctor luctus est, cursus ornare dolor maximus non. Proin mollis tempor sapien eu tempor. Praesent orci leo, sodales quis
      lobortis ut, imperdiet et sem. Sed convallis vulputate aliquet. Praesent congue dolor odio, et rutrum felis feugiat ut.</section>
    <section class="item">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales quam mi, ac molestie ante consectetur a. Nam posuere ligula turpis, in pellentesque dolor vulputate vitae. Suspendisse sagittis id erat eget pharetra. Nam neque turpis, bibendum ac
      nulla condimentum, dignissim tempus tortor. Nullam at tellus urna. Suspendisse blandit odio eu dolor blandit eleifend. Proin auctor luctus est, cursus ornare dolor maximus non. Proin mollis tempor sapien eu tempor. Praesent orci leo, sodales quis
      lobortis ut, imperdiet et sem. Sed convallis vulputate aliquet. Praesent congue dolor odio, et rutrum felis feugiat ut.</section>

  </div>

</body>

</html>
