* {
    box-sizing: border-box;
}

#nav-izq {
    width: 200px;
    height: 100%;
    border: 2px solid red;
    display: inline-block;
    vertical-align: top;
}

#columna {
    width: Calc(100% - 204px);
    height: auto;
    display: inline-block;
}

.contenedor {
    border: 2px solid yellow;
    vertical-align: top;
    display: inline-block;
}

section {
    border: 2px solid green;
    box-sizing: border-box;
}

.pie {
    width: 100%;
    height: 50px;

    position: fixed;
    bottom: 0;
    left: 0;
}
.subpie{
  position: relative;
  border: 2px solid blue;
  vertical-align: middle;
  width:75%;
  height: 100%;
  margin: 0 auto;
  vertical-align: middle;
  background-color: white;
  text-align: center;
}

@media screen and (max-width:600px) {
    li {
        display: inline-block;
    }
    #left {
        float: none;
        width: 100%;
    }
    .item {
        margin-left: 0px;
    }
}
