.boton-ING {
  background-color: #ff6200;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  transition: all .2s;
}

h1 {
  text-align: center;
}
#corazon {
  padding-top: 50px;
}

.boton-ING:hover {
  transform: scale(2);
}
