.noSelected {
  fill: white;
}

.selected {
  fill: green;
}

.ocupado {
  fill: red;
}

ellipse,
circle,
rect {
  fill: inherit;
}

#contenedor {
  background-color: darkgrey;
}

body {
  text-align: center;
  font-family: "arial";
}
