html, body {
    margin: 0px;
    height: 100%;
    font-weight: bold;
    text-align: center;


}
html{
  /* FUENTES*/
  /*
   La propiedad em hace esta definida por el tamaño de una M
   dependiendo de la fuente definida por el padre.
   en este caso
   html:16px;-->body:120% de 16px--> header: 2em del 120% de 16px;
  */
    font-size: 16px;
}
body{
  font-size: 120%;
}
.wrapper {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    font-size: 1.5em;
}

header {
    background-color: #ff5334;
    order: -10;

    font-size: 2em;
}

header, footer {
    min-width: 100%;
    min-height: 5%;
}

.aside.aside-1, .aside.aside-2, article {
    min-height: 90%;
    max-height: 90%;
}
.aside.aside-1, .aside.aside-2{
  min-width: 33%;

  font-size: 0.75em;
}

.aside.aside-1 {
    background-color: #f7e600;
    order: -1;

}

.aside.aside-2 {
    background-color: #fe2eef;
    order: 1;

}

article {
    background-color: #6fe1ff;
    max-width: 34%;
    text-align: justify;

}
p {
    margin: 2em;
}
footer {
    background-color: #61f675;
    order: 10;
    align-self: flex-end;
}

@media (max-width:800px) {
  body{
    font-size: 100%;
  }

  .aside.aside-1, .aside.aside-2{
    min-width: 50%;
    min-height: 5%;

  }

    .aside.aside-1 {
        order: 0;

    }
    .aside.aside-2 {
        order: 1;

    }
    article {
        min-width: 100%;
        min-height: 85%;
        order: -1;
    }
}

@media (max-width:600px) {

  body{
    font-size: 80%;
  }
  .aside.aside-1, .aside.aside-2{
    min-width: 100%;
    min-height: 5%;

  }

    .aside.aside-1 {
        order: 0;

    }
    .aside.aside-2 {
        order: 1;

    }
    article {
        min-width: 100%;
        min-height: 80%;
        order: -1;
    }
}
