html, body {
    margin: 0px;
    height: 100%;}
html{
  font-size: 16px;
}

body{
    font-size: 120%;
}
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
    font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {

  flex: 1 100%;
}

.header {
  background: tomato;
  font-size: 2em;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  background: deepskyblue;
}

.aside.aside-1, .aside.aside-2{


  font-size: 0.75em;
}
.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}
/*
@media all and (min-width: 600px) {
  body{
    font-size: 80%;
  }
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  body{
    font-size: 100%;
  }
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}
*/
