
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Create product", "Create", "Product")</li>
    <li>@Html.ActionLink("List products", "Index", "Product")</li>

</ul>
